
.footer{



    margin-top:20vh;
}



#footer-logo{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:3rem;
    font-weight:500;
}
.aboveline{
    text-align:center;
}
.belowline{
    display:flex;
    justify-content:space-between;
}
ul{
    display:flex;
    item-decoration:none;
    gap:15px; list-style-type: none;
}