@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Shippori+Mincho&display=swap');


:root {

  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}



